footer {
    background: $dark-blue;
    color: $white;
    padding: 4vh 7vw;
    ul {
        list-style: none;
        .primary-button {
            margin-bottom: 2vh;
        }
        li:hover {
            color: $lime-green;
            cursor: pointer;
        }
    }
    .menu {
        padding-top: 3vh;
        li {
            margin-right: 6px;
            &:hover {
                svg {
                    path {
                        fill: $lime-green;
                        filter: brightness(1);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}