@include media-sm {
    .menu-btn {
        visibility: hidden;
        // width: 80% !important;
        // &__burger {
        //     top: 1.9rem !important;
        // }
    }
    .nav {
        visibility: visible;
        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: center;
            &__item {
                display: inline;
                padding-right: 1.5rem;
            }
            &__link {
                font-size: 1.5rem;
            }
        }
    }
}

@include small-only {
    .home {
        background: $secondary-light-gray;
        // overflow: visible;
        margin-right: 0vw !important;
        padding-left: 0vw !important;
        z-index: 20;
        padding-top: 20vh !important;
        p {
            font-size: 13.84px;
            color: $gray-blue;
        }
        &-left {
            h2 {
                font-size: 40px;
                font-weight: 400;
            }
            text-align: center;
            padding: 0vh 3vw !important;
            margin-top: 50vh;
        }
        &-right {
            margin-top: -92vh !important;
            background: url("../../images/bg-intro-desktop.svg") !important;
        }
    }
    .blog {
        margin-top: 0 !important;
        // padding: 0 0 10vh 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        &-intro {
            padding: 3rem 0 0 0 !important;
            text-align: center;
        }
        .card {
            img {
                padding: 0 32vw;
            }
            .card-section {
                text-align: center;
            }
        }
    }
    article {
        padding: 10vh 2vw !important;
    }
    footer {
        text-align: center;
        .menu {
            padding-left: 12vh;
        }
    }
}